html {
  margin-top: 0 !important;
}

.header-navbar, .main-menu {
  background: #1b2c40 !important;
}

.header-navbar .navbar-header .navbar-brand, .main-menu .navbar-header .navbar-brand {
  width: 120px;
  border-bottom: 0;
}

.header-navbar .navbar-header .navbar-brand img, .main-menu .navbar-header .navbar-brand img {
  width: 100%;
}

.header-navbar .logo, .main-menu .logo {
  width: 120px;
  text-decoration: none;
  border-bottom: 0 !important;
}

.header-navbar .logo img, .main-menu .logo img {
  width: 100%;
}

.header-navbar a, .main-menu a {
  color: white !important;
}

.header-navbar i, .main-menu i {
  color: white !important;
}

.header-navbar .dropdown-menu .dropdown-item, .main-menu .dropdown-menu .dropdown-item {
  color: #1b2c40 !important;
}

.header-navbar .dropdown-menu .dropdown-item i, .main-menu .dropdown-menu .dropdown-item i {
  color: inherit !important;
}

.header-navbar .dropdown-menu .dropdown-item:hover, .main-menu .dropdown-menu .dropdown-item:hover {
  background: #1b2c40 !important;
}

.header-navbar .bookmark-icons .nav-item, .main-menu .bookmark-icons .nav-item {
  margin-right: .5rem;
}

.header-navbar .bookmark-icons .nav-item .nav-link, .main-menu .bookmark-icons .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9rem;
  opacity: .7;
}

.header-navbar .bookmark-icons .nav-item .nav-link i, .main-menu .bookmark-icons .nav-item .nav-link i {
  font-size: 1rem;
  margin-right: .45rem;
}

.header-navbar .bookmark-icons .nav-item .nav-link:hover, .main-menu .bookmark-icons .nav-item .nav-link:hover {
  opacity: 1;
}

.header-navbar .bookmark-icons .active .nav-link, .main-menu .bookmark-icons .active .nav-link {
  position: relative;
  opacity: 1;
}

.header-navbar .bookmark-icons .active .nav-link::after, .main-menu .bookmark-icons .active .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2px;
  background-color: white;
}

.navigation {
  background: transparent !important;
}

.logo {
  border-bottom: 0 !important;
}

.customer-service {
  padding-top: 100px;
}

.customer-service .hero {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(17, 51, 83, 0.02);
          box-shadow: 0 4px 12px 0 rgba(17, 51, 83, 0.02);
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #eceff1;
}

.customer-service .hero .banner-title {
  line-height: 1.3;
  color: #050f19;
  font-size: 22px;
}

.customer-service .hero .banner-text {
  line-height: 1.3;
  color: rgba(17, 51, 83, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.customer-service .hero .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2c2c2c;
}

.customer-service .hero .banner-content h4.name {
  font-size: .8rem;
  letter-spacing: .07272727em;
  font-weight: 500;
  line-height: 1rem;
  text-transform: capitalize;
  margin-right: 8rem;
}

.customer-service .hero .banner-content span.phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #2c2c2c;
}

.customer-service .hero .banner-content span.post {
  margin-left: 5rem;
}

.customer-service .hero .banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2c2c2c;
}

.customer-service .hero .banner-box h4.name {
  min-width: 100px;
  font-size: .8rem;
  letter-spacing: .07272727em;
  font-weight: 500;
  line-height: 1rem;
  text-transform: capitalize;
}

.customer-service .hero .banner-box span.phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #2c2c2c;
  margin-right: 10px;
}

.content-wrapper {
  margin-top: 0 !important;
}

.app-content {
  padding-top: 0 !important;
}

.btn-icon {
  background: #002e62 !important;
}

a {
  color: #002e62 !important;
}

.switch, .switch-2 {
  position: relative;
  display: inline-block;
  margin: 10px 0 0 100px;
}

.switch .switch-input, .switch-2 .switch-input {
  display: none;
}

.switch .switch-label, .switch-2 .switch-label {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch .switch-label::before, .switch-2 .switch-label::before, .switch .switch-label::after, .switch-2 .switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch .switch-label::before, .switch-2 .switch-label::before {
  width: 35px;
  height: 15.5px;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.switch .switch-label::after, .switch-2 .switch-label::after {
  top: 0;
  left: 0;
  width: 17.5px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.switch .switch-input:checked + .switch-label::before, .switch-2 .switch-input:checked + .switch-label::before {
  background-color: #1abcd1;
}

.switch .switch-input:checked + .switch-label::after, .switch-2 .switch-input:checked + .switch-label::after {
  left: 20px;
}

.switch-2 {
  margin-left: 0;
  margin-top: 10px;
}

.switch-2 .switch-label::before {
  width: 33px;
}

.check {
  color: #1b2c40;
  margin-right: .75rem;
}

.check .inventor {
  font-size: .8rem;
  font-weight: bold;
}

.check .stoke {
  font-size: .75rem;
}

.i-box {
  display: none;
}

.i-box .inventory-box {
  border: solid .1rem #ccc;
  padding: .5rem;
}

.i-box .inventory-box li {
  width: 100%;
  padding: .75rem;
}

.i-box .inventory-box li .inventory-select .title {
  font-size: .8rem;
  font-weight: bold;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}

.i-box .inventory-box li .inventory-select .text-muted {
  font-size: .7rem;
}

.i-box .inventory-box li .inventory-select:hover .title {
  color: #0a52a5 !important;
}

.i-box .inventory-box li .cart .cart-price {
  color: #0872af;
  opacity: .4;
  font-size: .8rem;
  margin-right: 1rem;
  font-weight: bold;
}

.i-box .inventory-box li .cart .cart-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.i-box .inventory-box li .cart .cart-action .minus-btn, .i-box .inventory-box li .cart .cart-action .plus-btn {
  background: #0f83b9;
  color: white;
  padding: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}

.i-box .inventory-box li .cart .cart-action .quantity {
  margin: 0 .75rem;
}

.i-box .inventory-result {
  text-align: right;
  margin-top: .5rem;
  margin-right: .5rem;
}

.i-box .inventory-result .price {
  font-size: .8rem;
  font-weight: bold;
}

.i-box .inventory-result .price .total-price {
  background: #0a52a5;
  padding: .25rem .5rem;
  color: white;
  margin-bottom: .25rem;
  border-radius: 5px;
}

.i-box .inventory-result .product {
  font-size: .65rem;
  color: #0a52a5;
}

.i-box .inventory-result .product .total-product {
  margin-right: .5rem;
}

.i-box.show {
  display: block;
}

.designation .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.designation .title h5 {
  font-size: .8rem;
}

.designation .title .line {
  width: 95px;
  height: .1rem;
  background: #eee;
  margin-top: -8px;
}

.athorization small {
  display: block;
  margin-left: 50px;
  margin-top: -31px;
}

.add-data-footer .add-data-btn .btn {
  font-size: 12px !important;
  background: #0469ac;
  padding: .75rem 1rem;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.add-data-footer .add-data-btn .btn-package {
  background: rgba(10, 148, 153, 0.87);
}

.add-data-footer .add-data-btn .btn-package:hover {
  background: rgba(13, 194, 201, 0.87);
}

.add-data-footer .add-data-btn .btn-csv {
  background: #0469ac;
  padding: .45rem 1rem;
  margin-top: .25rem;
}

.add-data-footer .add-data-btn .btn-csv:hover {
  background: #034b7a;
}

.add-data-footer .add-data-btn .btn-cancel {
  border: solid 1px #7a0303;
  padding: .45rem 1.25rem;
  margin-top: .25rem;
  background: transparent;
  color: black;
}

.add-data-footer .add-data-btn .btn-cancel:hover {
  background: #7a0303;
  color: white;
}

.add-data-footer .inventory-result {
  text-align: right;
  margin-top: .5rem;
  margin-right: .5rem;
}

.add-data-footer .inventory-result .price {
  font-size: .8rem;
  font-weight: bold;
}

.add-data-footer .inventory-result .price .total-price {
  background: #0a52a5;
  padding: .25rem .5rem;
  color: white;
  margin-bottom: .25rem;
  border-radius: 5px;
}

.add-data-footer .inventory-result .product {
  font-size: .65rem;
  color: #0a52a5;
}

.add-data-footer .inventory-result .product .total-product {
  margin-right: .5rem;
}

.product-action button {
  background: none !important;
  color: black !important;
}

.product-action button i {
  color: black !important;
}

.product-action button:hover {
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.product-action button:hover i {
  color: #0fbde9 !important;
}

.product-action .print {
  border: solid .1rem #a4a5a7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.2rem;
}

.product-action .print i {
  font-size: 1rem;
  color: #a4a5a7 !important;
}

.product-action .print:hover {
  border-color: #0a52a5;
}

.product-action .print:hover i {
  color: #0a52a5 !important;
}

.table-details .card {
  border: solid .1rem #eee;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.table-details .card .card-title {
  font-size: 1.5rem;
}

.table-details .card .underline {
  border-bottom: solid .1rem #dedede;
  font-size: .9rem;
}

.table-details .card .underline .box {
  padding: .25rem .75rem;
  background: #eee;
  border-radius: 15px;
}

.title-icon {
  color: lightblue;
}

.login {
  background: red;
  width: 600px;
}

button, .btn, .btn-info {
  border-color: #00AFEF !important;
  background-color: #00AFEF !important;
  color: white !important;
}

.pagination .page-item.active .page-link {
  background-color: #00AFEF !important;
  color: white !important;
}

.btn-cancel {
  border: solid 1px #7a0303 !important;
  background: #7a0303 !important;
  color: white !important;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
  padding: .75rem 1rem !important;
}

.btn-cancel:hover {
  background: #480202;
}

.input-group-text {
  font-size: .8rem;
}

.service-price {
  padding: 2rem 0;
}

.video-section {
  padding: 2rem 0;
  background: #f3f6f7;
}

.video-section video:focus {
  outline: none;
}

@media (max-width: 991px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .banner, .hero .banner-content, .hero .banner-box {
    margin-bottom: 1rem;
  }
  .hero .banner-content {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 1rem 0;
  }
  .hero .banner-content .row {
    margin-bottom: 1rem;
  }
  .hero .banner-content .row:first-child {
    margin-top: 1rem;
  }
  .hero .banner-content .row:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .designation .title .line {
    width: 100px;
  }
  .btn-info {
    font-size: 12px !important;
    margin-bottom: 1rem;
    width: 125px;
  }
  .service-price h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .service-price table {
    margin-bottom: 2rem;
    font-size: .9rem;
  }
  .video-section h1,
  .video-section video {
    margin-bottom: 1.5rem;
  }
}
